.header__logo{
    background-image: url(../../../images/logo.svg);
    width: 142px;
    height: 33px;
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 900px){
    .header__logo{
        margin-left: 27px;
    }
}

@media screen and (max-width: 350px){
    .header__logo{
        width: 104px;
        height: 24px;
    }
}